@use '../style/partials/_variables.scss' as *;
@import "../../node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Bitter:wght@700&family=EB+Garamond&family=Lato&family=Manrope&family=Open+Sans:ital,wght@0,400;0,800;1,800&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@600&family=Bitter:wght@700&family=EB+Garamond&family=Lato&family=Manrope&family=Open+Sans:ital,wght@0,400;0,800;1,800&family=Oxygen:wght@400;800&family=Roboto:wght@500&display=swap');

/* UTILITIES */

.font-serif {
    font-family: 'EB Garamond', serif;
    font-size: 3rem;
}

.secondary-font-color {
    color:$secondary-font-color;
    
}

.overtitle-primary-color {
    color: $overtitle-primary-color;
    font-size: .8rem;
    letter-spacing: 1.5px;
}

.overtitle-secondary-color {
    color: $overtitle-secondary-color;
    font-size: .9rem;
    letter-spacing: 1.5px;
}

.paragraph-color {
    color:$paragraph-color;
}

.letter-spacing {
    letter-spacing: 1.5px;
}

/* /UTILITIES */


body {
    font-family: 'Oxygen', sans-serif;
    
    img {
        max-width:100%;
    }

    
    
  }