$primary-background-color: #ebe9ed;
$primary-header-color: #232a33;
$secondary-header-color: #044689;
$primary-button-color: #20ac97;
$secondary-button-color: #cecbd2;
$primary-footer-bg-color: hsl(245.45deg 20% 10.78%);
$primary-footer-color: #9aa2a6;
