$primary-background-color: #ebe9ed;
$primary-header-color: #232a33;
$secondary-header-color: #044689;
$primary-button-color: #26aa94;
$secondary-button-color: #cecbd2;
$primary-footer-bg-color: hsl(245.45deg 20% 10.78%);
$primary-footer-color: #9aa2a6;
$primary-logos-color: #232a33;
$button-hover: rgb(63 58 100 );
$paragraph-color: rgb(63 58 100 );
$secondary-font-color: #20ac97;
$primary-font-color: black;
$font-serif: 'EB Garamond', serif;
$ms-light-gray: #ebe9ed;
$overtitle-primary-color: #9aa2a6;
$overtitle-secondary-color: #6b6c6c;
$third-font-color: #555a61;
